In [3]:
import pandas as pd
df = pd.read_csv('https://www.insee.fr/fr/statistiques/fichier/6800675/v_commune_2023.csv')
df.head(1)

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN

In [4]:
# # Classe principale:
class Mother:
    def __init__(self, param):
        self.param = param
        self._attribut_prive = 2

    def action(self):
        print(self.param)

# # Classe fille (hérite de la classe principale):
class Daughter(Mother):
    def __init__(self, param):
        super().__init__(param=param)
        self.param_fille = 'param fille'
        
# # Instanciation d'un objet de la classe fille:
d = Daughter(param='param entrée')
d.action() # la fille hérite des actions implémentées dans la classe mère

param entrée